<header>
    <div class="bg-transparent">
        <div class="header-main header-default header-no-border">
            <div class="container">
                <div class="header-main-wrapper">
                    <div class="navbar-header">
                        <div class="logo logo-black pull-left"><a href="index.html" class="header-logo"><img
                                    src="assets/images/logo-1.png" alt="" /></a></div>
                        <div class="logo logo-white pull-left"><a href="index.html" class="header-logo"><img
                                    src="assets/images/logo-2.png" alt="" /></a></div>
                        <button type="button" data-toggle="collapse" data-target=".navigation"
                            class="navbar-toggle btn-navbar"><span class="icon-bar"></span><span
                                class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <nav class="navigation collapse navbar-collapse pull-right">
                        <ul class="nav-links nav navbar-nav">
                            <li class="dropdown active"><a href="javascript:void(0)" class="main-menu">Home<span
                                        class="fa fa-angle-down icons-dropdown"></span></a>
                                <ul class="dropdown-menu dropdown-menu-1">
                                    <li><a href="index.html" class="link-page">Home page default</a></li>
                                    <li><a href="homepage-02.html" class="link-page">Homepage Header Centered Full
                                            Color</a></li>
                                    <li><a href="homepage-03.html" class="link-page">Homepage Header Centered
                                            Transparent</a></li>
                                    <li><a href="homepage-04.html" class="link-page">Homepage Topbar Transparent</a>
                                    </li>
                                    <li><a href="homepage-05.html" class="link-page">Homepage Full Color</a></li>
                                    <li><a href="homepage-06.html" class="link-page">Homepage slider</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="javascript:void(0)" class="main-menu">agents<span
                                        class="fa fa-angle-down icons-dropdown"></span></a>
                                <ul class="dropdown-menu dropdown-menu-1">
                                    <li><a href="agent-list.html" class="link-page">agent list</a></li>
                                    <li><a href="agent-single.html" class="link-page">agent single</a></li>
                                    <li><a href="agencies-list.html" class="link-page">agencies list</a></li>
                                    <li><a href="agency-detail.html" class="link-page">agency detail</a></li>
                                    <li><a href="user-profile.html" class="link-page">user profile</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="javascript:void(0)" class="main-menu">property<span
                                        class="fa fa-angle-down icons-dropdown"></span></a>
                                <ul class="dropdown-menu dropdown-menu-1">
                                    <li><a href="properties.html" class="link-page">property list/grid</a></li>
                                    <li><a href="properties-non-sidebar.html" class="link-page">property nonsidebar</a>
                                    </li>
                                    <li><a href="properties-masonry.html" class="link-page">property masonry</a></li>
                                    <li><a href="property-detail.html" class="link-page">property detail</a></li>
                                    <li><a href="search-properties.html" class="link-page">map filter</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="javascript:void(0)" class="main-menu">blog<span
                                        class="fa fa-angle-down icons-dropdown"></span></a>
                                <ul class="dropdown-menu dropdown-menu-1">
                                    <li><a href="blog.html" class="link-page">blog list</a></li>
                                    <li><a href="blog-detail.html" class="link-page">blog detail</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="javascript:void(0)" class="main-menu">page<span
                                        class="fa fa-angle-down icons-dropdown"></span></a>
                                <ul class="dropdown-menu dropdown-menu-1">
                                    <li><a href="service.html" class="link-page">services</a></li>
                                    <li><a href="gallery.html" class="link-page">gallery</a></li>
                                    <li><a href="about-us.html" class="link-page">about us</a></li>
                                    <li><a href="pricing.html" class="link-page">Pricing</a></li>
                                    <li><a href="sign-up.html" class="link-page">sign in</a></li>
                                    <li><a href="register.html" class="link-page">Register</a></li>
                                    <li><a href="coming-soon.html" class="link-page">coming soon</a></li>
                                    <li><a href="faq.html" class="link-page">FAQ</a></li>
                                    <li><a href="404.html" class="link-page">page 404</a></li>
                                </ul>
                            </li>
                            <li class="dropdown" style="font-size: 20px;"><a class="main-menu"><i
                                        class="fa fa-cog"></i></a>
                                <ul class="dropdown-menu dropdown-menu-1">
                                    <li><a href="#" data-toggle="modal" data-target="#user-info-modal"
                                            class="link-page">Profile</a></li>
                                    <li><a routerLink="/auth/login" href="/auth/login" class="link-page">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="user-info-modal" tabindex="-1" role="dialog" class="contact-fast modal fade">
    <div class="modal-dialog">
        <div class="new-letter-content modal-content">
            <div class="new-letter-left"><img src="assets/images/libs/agent-single-1.jpg" alt=""
                    class="img-responsive" />

                <div class="agent-single-info-wrapper">
                    <div class="agent-single-info"><i class="icon fa fa-mobile-phone"></i><span class="text">+1 234 567
                            89</span></div>
                    <div class="agent-single-info skype"><i class="icon fa fa-skype"></i><a href="#"
                            class="text">adam.smith.skype</a></div>
                    <div class="agent-single-info socials"><a href="#" class="link facebook"><i
                                class="fa fa-facebook-square"></i></a><a href="#" class="link twitter"><i
                                class="fa fa-twitter"></i></a><a href="#" class="link google"><i
                                class="fa fa-google-plus"></i></a><a href="#" class="link instagram"><i
                                class="fa fa-instagram"></i></a></div>
                </div>
            </div>
            <div class="new-letter-right">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="underline">contact us</h4>

                <p class="text">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.</p>

                <form><input type="text" placeholder="Your Name" class="contact-form black" /><input type="email"
                        placeholder="Your Email" class="contact-form black" /><textarea placeholder="Your Message"
                        class="contact-form black"></textarea><a href="#" class="btn btn-blue">send message</a></form>
            </div>
        </div>
    </div>
</div>